<div>
    <h1 class="text-center mt-2">Login to continue</h1>
    <div class="form-container form-container-login ">
        <%= form_for( @user , url: login_path, method: :post, remote: true) do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="fields email-block" id="email-login">
            <%= f.label :email, "Your email: " %>
            <%= f.email_field :email, class: "input-fields" %>
        </div>

        <div class="fields password-block" id="password-login">
            <%= f.label :password, "Password: " %>
            <%= f.password_field :password, class: "input-fields" %>
        </div>

        <div class="form-submit login-btn">
            <%= f.submit "Sign in", class: "submit login-btn" %>
            <%= link_to "don't have an account?", signup_path, class: "button-link" %>
            <%= link_to "forgot password?", forgot_password_path, class: "button-link" %>
        </div>

        <% end %>
    </div>
</div>