<%= javascript_include_tag 'login_signup', 'data-turbolinks-track' => true %>
<div>
    <h1 class="text-center mt-2">Let's create your account</h1>
    <div class="form-container">
        <%= form_for( @user , url: signup_path, method: :post, remote: true) do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="fields first-name-block">
            <%= f.label :first_name, "First name: " %>
            <%= f.text_field :first_name, class: "input-fields" %>
        </div>

        <div class="fields last-name-block">
            <%= f.label :last_name, "Last name: " %>
            <%= f.text_field :last_name, class: "input-fields" %>
        </div>

        <div class="fields email-block">
            <%= f.label :email, "Your email: " %>
            <%= f.email_field :email, class: "input-fields" %>
        </div>

        <div class="fields password-block">
            <%= f.label :password, "Password: " %>
            <%= f.password_field :password, class: "input-fields" %>
        </div>

        <div class="fields confirm-block">
            <%= f.label :password_confirmation, "Re-enter Password: " %>
            <%= f.password_field :password_confirmation, class: "input-fields" %>
        </div>

        <div class="fields mobile-block">
            <%= f.label :phone_number, "Mobile number: " %>
            <%= f.telephone_field :phone_number, class: "input-fields" %>
        </div>

        <div class="fields city-block">
            <%= f.label :city, "City: " %>
            <%= f.text_field :city, class: "input-fields" %>
        </div>

        <div class="form-submit">
            <%= f.submit "Create an account", class: "submit", id: "account-btn" %>
            <%= f.submit "Sign up", class: "submit", id: "signup-btn" %>
            <%= link_to "Already signup?", login_path, class: "button-link" %>
        </div>

        <% end %>
    </div>
</div>