<%= javascript_include_tag 'login_signup', 'data-turbolinks-track' => true %>
<div>
    <h1 class="text-center mt-2">Let's create your account</h1>
    <div class="form-container">
        <%= form_with( url: verify_otp_path, method: :post, remote: true) do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="fields email-block">
            <%= f.label :email, "Your email: " %>
            <%= f.email_field :email, value: current_user&.email, class: "input-fields" %>
        </div>

        <div class="fields email-block">
            <%= f.label :otp, "Enter OTP: " %>
            <%= f.number_field :otp, class: "input-fields" %>
        </div>

        <div class="form-submit">
            <%= f.submit "Verify email", class: "submit", id: "account-btn" %>
        </div>

        <% end %>
    </div>
</div>